@import url("https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap");
body {
  background-color: #51d0de;
  font-family: "Sora", sans-serif;
  color: #000000;
}

h {
  width: 100%;
  justify-content: center;
}

h1 {
  font-size: 50px;
}

.out {
  margin-left: auto;
  margin-right: auto;
}
