.btn-group button {
    background-color: #d52cb4;
    border: 1px solid green;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    width: 50%;
    display: block;
    opacity: 0.6;
    transition: 0.3s;
    margin: 2px;
}

.submit{
    background-color: #e3871e;
        border: 1px solid #d9d9d9;
        color: white;
        padding: 10px 24px;
        cursor: pointer;
        width: 20%;
        display: block;
        transition: 0.3s;
        margin: 25px;
        margin-bottom: 50px;
}

.submit:hover{
    background-color: rgba(227, 135, 30, 0.8);
}

.btn-group button:not(:last-child) {
    border-bottom: none;
}

.btn-group button:hover {
    opacity: 1;
    border: 1px solid #d9d9d9;

}

.form2 {
    /* background-color: rgba(173, 169, 169, 0.5); */
    height: auto;
    width: 45%;
    padding: 40px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}